nav{
  padding-left: 20px;
  padding-right: 20px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;

  .IconBox{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    border-radius: 8px;
    margin-right: 10px;
    &:hover{
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

li{
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  width: 80%;
  height: 70px;
  background-color: #84BC9C;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  p{
    margin-left:20px;
  }
}

.Button-Container{
  display: flex;
  flex-flow: row nowrap;
}

// .IconBox{
//   // background-color: #84BC9C;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100%;
//   aspect-ratio: 1;
//   &:hover{
//     cursor: pointer;
//     background-color: #a1cdb4;
//     // opacity: 0.5;
//   }
// }